.dch-v {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
  }
  
  .dch-v .top {
    height: 125px;
    position: relative;
    width: 1540px;
  }
  
  .dch-v .div {
    height: 125px;
    position: relative;
  }
  
  .dch-v .element {
    height: 170px;
    left: 116px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 219px;
  }
  
  .dch-v .div-btn {
    height: 43px;
    left: 1455px;
    object-fit: cover;
    position: absolute;
    top: 35px;
    width: 43px;
  }
  
  .dch-v .div-body {
    background: linear-gradient(180deg, rgb(17, 156, 186) 0%, rgba(64, 168.34, 175, 0.28) 100%);
    border-radius: 100px 0px 0px 0px;
    height: 36px;
    left: 698px;
    position: absolute;
    top: 89px;
    width: 842px;
  }
  
  .dch-v .pseudo {
    background: linear-gradient(180deg, rgba(11.13, 118.32, 141.45, 0.55) 0%, rgba(142.23, 208.02, 212.22, 0.55) 100%);
    border-radius: 100px 0px 0px 0px;
    height: 38px;
    left: 33px;
    position: relative;
    top: -2px;
    width: 809px;
  }
  
  .dch-v .item-link-d-ch-v {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    left: 635px;
    letter-spacing: -0.14px;
    line-height: 20px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }
  
  .dch-v .item-margin {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 110px;
    padding: 0px 43.06px 0px 0px;
    position: absolute;
    top: 14px;
  }
  
  .dch-v .text-wrapper {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dch-v .item-link-s-n-ph-m-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 235px;
    padding: 0px 42.5px 0px 0px;
    position: absolute;
    top: 14px;
  }
  
  .dch-v .item-link-v-ch-ng-t-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 359px;
    padding: 0px 45.02px 0px 0px;
    position: absolute;
    top: 14px;
  }
  
  .dch-v .item-link-d-ch-v-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 477px;
    padding: 0px 41.83px 0px 0px;
    position: absolute;
    top: 14px;
  }
  
  .dch-v .link {
    border: 1px solid;
    border-color: #119cba;
    border-radius: 4px;
    height: 43px;
    left: 1225px;
    position: absolute;
    top: 36px;
    width: 222px;
  }
  
  .dch-v .frame {
    height: 18px;
    left: 21px;
    position: absolute;
    top: 12px;
    width: 18px;
  }
  
  .dch-v .p {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 300;
    height: 18px;
    left: 43px;
    letter-spacing: -0.14px;
    /* line-height: 18px; */
    position: absolute;
    text-align: center;
    /* top: 11px; */
    white-space: nowrap;
  }
  
  .dch-v .div-elementor {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 1540px;
  }
  
  .dch-v .div-elementor-widget-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  
  .dch-v .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .dch-v .div-pt-percent {
    align-self: stretch;
    height: 250.55px;
    position: relative;
    width: 100%;
  }
  
  .dch-v .div-content {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 95.27px 120px 95.28px;
    position: absolute;
    top: 0;
    width: 1540px;
  }
  
  .dch-v .div-container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    padding: 0px 15px;
    position: relative;
  }
  
  .dch-v .heading {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 1002px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .dch-v .text-wrapper-2 {
    color: #4f4f4f;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
    line-height: 60px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dch-v .body {
    align-self: stretch;
    height: 3293px;
    position: relative;
    width: 100%;
  }
  
  .dch-v .group {
    height: 184px;
    left: 219px;
    position: absolute;
    top: 59px;
    width: 1106px;
  }
  
  .dch-v .text-wrapper-3 {
    color: #119cba;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 900;
    height: 60px;
    left: 0;
    letter-spacing: -0.96px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .dch-v .pseudo-2 {
    background-color: #7e8083;
    height: 2px;
    left: 526px;
    position: absolute;
    top: 120px;
    width: 50px;
  }
  
  .dch-v .khi-c-s-n-ph-m-c-n-b {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 72px;
    left: 191px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 112px;
  }
  
  .dch-v .div-ptpercent {
    height: 470px;
    left: 175px;
    position: absolute;
    top: 308px;
    width: 470px;
  }
  
  .dch-v .text-wrapper-4 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 745px;
    letter-spacing: -0.36px;
    line-height: 24px;
    position: absolute;
    top: 458px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-5 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 745px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 506px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-6 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 745px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 530px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-7 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 745px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 554px;
    white-space: nowrap;
  }
  
  .dch-v .item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 745px;
    padding: 0px 68px 0px 0px;
    position: absolute;
    top: 579px;
    width: 480px;
  }
  
  .dch-v .text-wrapper-8 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.16px;
    line-height: 24px;
    margin-right: -50px;
    /* margin-top: -1px; */
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dch-v .div-col-lg {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 745px;
    max-width: 560px;
    padding: 0px 15px;
    position: absolute;
    top: 778px;
    width: 560px;
  }
  
  .dch-v .img {
    align-self: stretch;
    height: 508.8px;
    position: relative;
    width: 100%;
  }
  
  .dch-v .text-wrapper-9 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 24px;
    left: 177px;
    letter-spacing: -0.36px;
    line-height: 24px;
    position: absolute;
    top: 849px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-10 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 897px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-11 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 921px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-12 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 945px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-13 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 980px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-14 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 993px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-15 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1017px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-16 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1055px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-17 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1065px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-18 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1089px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-19 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1123px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-20 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1137px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-21 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1161px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-22 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 188px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1185px;
    white-space: nowrap;
  }
  
  .dch-v .div-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 188px;
    padding: 0px 257px 0px 0px;
    position: absolute;
    top: 1210px;
    width: 301px;
  }
  
  .dch-v .text-wrapper-23 {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.16px;
    line-height: 24px;
    margin-right: -189px;
    /* margin-top: -1px; */
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dch-v .QUY-TR-NH-t-h-NG {
    color: #119cba;
    font-family: "Inter", Helvetica;
    font-size: 48px;
    font-weight: 900;
    height: 60px;
    left: 249px;
    letter-spacing: -0.96px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    top: 1509px;
    white-space: nowrap;
  }
  
  .dch-v .heading-2 {
    align-items: flex-start;
    background-color: #7e127b;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 249px;
    padding: 10px 32.18px 12px 32.38px;
    position: absolute;
    top: 1659px;
  }
  
  .dch-v .text-wrapper-24 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 36px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dch-v .heading-3 {
    align-items: flex-start;
    background-color: #001242;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 249px;
    padding: 10px 32.79px 12px 32.99px;
    position: absolute;
    top: 1931px;
  }
  
  .dch-v .heading-4 {
    align-items: flex-start;
    background-color: #fdb813;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 249px;
    padding: 10px 32.84px 12px 33.04px;
    position: absolute;
    top: 2364px;
  }
  
  .dch-v .sau-kho-ng-ng-y-k {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 96px;
    left: 432px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2421px;
  }
  
  .dch-v .heading-5 {
    align-items: flex-start;
    background-color: #7e127b;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 842px;
    padding: 10px 32.18px 12px 32.38px;
    position: absolute;
    top: 1657px;
  }
  
  .dch-v .qu-kh-ch-vui-l-ng-i {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 96px;
    left: 1021px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1705px;
  }
  
  .dch-v .heading-6 {
    align-items: flex-start;
    background-color: #001242;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 842px;
    padding: 10px 32.79px 12px 32.99px;
    position: absolute;
    top: 1931px;
  }
  
  .dch-v .c-ng-ty-s-g-i-mail-x-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 1030px;
    padding: 0px 19.23px 0px 0px;
    position: absolute;
    top: 1980px;
  }
  
  .dch-v .c-ng-ty-s-g-i-mail-x {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.16px;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .dch-v .heading-7 {
    align-items: flex-start;
    background-color: #fdb813;
    border-radius: 30px 5px 30px 5px;
    display: inline-flex;
    left: 842px;
    padding: 10px 32.84px 12px 33.04px;
    position: absolute;
    top: 2364px;
  }
  
  .dch-v .sau-khi-ho-n-t-t-c {
    color: #212529;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 96px;
    left: 1035px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2403px;
  }
  
  .dch-v .qu-kh-ch-vui-l-ng-i-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 72px;
    left: 430px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1716px;
  }
  
  .dch-v .i-v-i-kh-ch-h-ng-n-i {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 240px;
    left: 432px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 1988px;
  }
  
  .dch-v .text-wrapper-25 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 432px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2228px;
    white-space: nowrap;
  }
  
  .dch-v .strong-link {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 432px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2270px;
    white-space: nowrap;
  }
  
  .dch-v .pseudo-3 {
    background-color: #7e8083;
    height: 4px;
    left: 282px;
    position: absolute;
    top: 2114px;
    transform: rotate(-90deg);
    width: 980px;
  }
  
  .dch-v .text-wrapper-26 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 36px;
    left: 290px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 1595px;
    white-space: nowrap;
  }
  
  .dch-v .text-wrapper-27 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 36px;
    left: 855px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 1595px;
    white-space: nowrap;
  }
  
  .dch-v .div-3 {
    background-image: url(https://c.animaapp.com/KCsnzJZF/img/div-pt67-6percent-2@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50px 5px 50px 5px;
    height: 250px;
    left: 139px;
    position: absolute;
    top: 2653px;
    width: 370px;
  }
  
  .dch-v .d-ch-v-h-tr-chuy-n-m {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 72px;
    left: 139px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    top: 2903px;
  }
  
  .dch-v .c-ng-ty-ch-ng-t-i-c {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 144px;
    left: 139px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2975px;
  }
  
  /* .dch-v .link-2 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 310px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  /* .dch-v .link-3 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 203px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  /* .dch-v .text-wrapper-28 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 300px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  /* .dch-v .text-wrapper-29 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 139px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  .dch-v .div-pt-percent-wrapper {
    align-items: flex-start;
    display: inline-flex;
    left: 575px;
    position: absolute;
    top: 2653px;
  }
  
  .dch-v .div-4 {
    background-image: url(https://c.animaapp.com/KCsnzJZF/img/div-pt67-6percent-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50px 5px 50px 5px;
    height: 250.11px;
    position: relative;
    width: 370px;
  }
  
  .dch-v .d-ch-v-h-tr-x-y-d-ng {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 72px;
    left: 575px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    top: 2903px;
  }
  
  .dch-v .ch-ng-t-i-c-b-quy-tr {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 144px;
    left: 575px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2975px;
  }
  
  /* .dch-v .link-4 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 730px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3119px;
    white-space: nowrap;
  } */
  
  /* .dch-v .text-wrapper-30 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 825px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  /* .dch-v .link-5 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 833px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  /* .dch-v .text-wrapper-31 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 575px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3118px;
    white-space: nowrap;
  } */
  
  .dch-v .link-6 {
    align-items: flex-start;
    display: inline-flex;
    left: 1030px;
    position: absolute;
    top: 2653px;
  }
  
  .dch-v .div-5 {
    background-image: url(https://c.animaapp.com/KCsnzJZF/img/div-pt67-6percent@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50px 5px 50px 5px;
    height: 250.11px;
    position: relative;
    width: 370px;
  }
  
  .dch-v .d-ch-v-t-v-n-thi-t-k {
    color: #333333;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 72px;
    left: 1030px;
    letter-spacing: -0.48px;
    line-height: 36px;
    position: absolute;
    top: 2903px;
  }
  
  .dch-v .ch-ng-t-i-c-i-t-c-ng {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 168px;
    left: 1030px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 2975px;
  }
  
  /* .dch-v .text-wrapper-32 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 1182px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3142px;
    white-space: nowrap;
  }
  
  .dch-v .link-7 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 1087px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3142px;
    white-space: nowrap;
  }
  
  .dch-v .link-8 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 1193px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3142px;
    white-space: nowrap;
  } */
  
  /* .dch-v .text-wrapper-33 {
    color: #828282;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 24px;
    left: 1030px;
    letter-spacing: -0.16px;
    line-height: 24px;
    position: absolute;
    top: 3142px;
    white-space: nowrap;
  } */
  
  .dch-v .menu-bot {
    height: 158px;
    margin-right: -8px;
    position: relative;
    width: 1548px;
  }
  
  .dch-v .overlap-group {
    background-color: #119cba;
    height: 158px;
    position: relative;
    width: 1540px;
  }
  
  .dch-v .text-wrapper-34 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 113px;
    white-space: nowrap;
    width: 1243px;
  }
  
  .dch-v .text-wrapper-35 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 745px;
  }
  
  .dch-v .text-wrapper-36 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 43px;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 63px;
    width: 673px;
  }
  
  .dch-v .text-wrapper-37 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 39px;
    left: 1124px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 380px;
  }
  
  .dch-v .image {
    height: 42px;
    left: 1218px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 51px;
  }
  
  .dch-v .image-2 {
    height: 42px;
    left: 1289px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 51px;
  }
  
  .dch-v .image-3 {
    height: 42px;
    left: 1360px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 51px;
  }
  